/* BODY */
body {
  background-color: #171717;
  color: #ffffff; }

.wrapper {
  font-family: "Roboto", sans-serif;
  margin: 0 auto; }

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 37px 0 auto 120px;
  width: 1460px; }

.header-button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 10px 25px;
  border: 1px solid #E4B564;
  color: #E4B564;
  line-height: 30px; }

.zovnishni {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 161px;
  width: 1460px; }

.section-header {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 41px; }

.section-description {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  width: 1182px;
  margin-bottom: 41px; }

.gallery-grid-1 {
  display: grid;
  align-content: center;
  grid-gap: 26px;
  grid-template-rows: 468px 468px;
  grid-template-columns: 466px repeat(2, 233px) 466px; }

.g1-item1 {
  grid-column: 1 / 2; }

.g1-item2 {
  grid-column: 2 / 4; }

.g1-item3 {
  grid-column: 4 / 5; }

.g1-item4 {
  grid-column: 1 / 3; }

.g1-item5 {
  grid-column: 3 / 5; }

.gallery-grid-2 {
  display: grid;
  align-content: center;
  grid-gap: 26px;
  grid-template-rows: 255px 58px 126px 153px 285px 19px;
  grid-template-columns: repeat(3, 467px); }

.g2-item1 {
  grid-row: 1/3;
  grid-column: 1/2; }

.g2-item2 {
  grid-row: 1/4;
  grid-column: 2/3; }

.g2-item3 {
  grid-row: 1/2;
  grid-column: 3/4; }

.g2-item4 {
  grid-row: 3/7;
  grid-column: 1/2; }

.g2-item5 {
  grid-row: 4/6;
  grid-column: 2/3; }

.g2-item6 {
  grid-row: 2/5;
  grid-column: 3/4; }

.g2-item7 {
  grid-row: 5/7;
  grid-column: 3/4; }

.gallery-grid-link {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  padding: 44px 52px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out; }

.gallery-grid-link:hover {
  opacity: 0.8; }

.gallery-grid-2 .gallery-grid-link {
  font-weight: 300; }

.text-center {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 44px; }

.vlasny {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 190px;
  width: 1460px; }

.vlasny .section-header {
  margin-bottom: 94px; }

/* FOOTER */
.footer {
  background-color: #0e0e0e;
  margin-bottom: 239px; }

.footer-header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 161px;
  margin-bottom: 61px; }

.footer-header {
  font-weight: 700;
  font-size: 50px; }

.nashi {
  margin-left: auto;
  margin-right: auto;
  width: 1460px; }

.footer-button {
  text-decoration: none;
  padding: 10px 40px;
  border: 1px solid #E4B564;
  color: #E4B564;
  line-height: 30px; }

.nashi {
  margin-left: auto;
  margin-right: auto;
  width: 1460px; }

.gallery-flex {
  display: flex;
  flex-wrap: wrap; }

.gallery-flex-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  height: 391px;
  width: 486px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out; }

.gallery-flex-link:hover {
  opacity: 0.8; }

.link-text {
  width: 326px;
  text-align: center;
  font-size: 22px;
  line-height: 28px;
  font-weight: 100; }

.link-text strong {
  font-weight: 700; }

.font-weight-700 {
  font-weight: 700; }

.black-text {
  color: #000; }

/* COLORS */
.color1 {
  background-color: #634F2C; }

.color2 {
  background-color: rgba(232, 210, 171, 0.76); }

.color3 {
  background-color: #E4B564; }

.color4 {
  background-color: #635A4A; }

.color5 {
  background-color: #B08C4D; }

.color6 {
  background-color: #634F2C; }

.grey1 {
  background-color: #0e0e0e; }

.grey2 {
  background-color: #242424; }

.grey3 {
  background-color: #1f1f1f; }

.grey4 {
  background-color: #0a0909; }
